torch==1.11.0+cu102
torchvision==0.12.0+cu102
# package location
--find-links https://download.pytorch.org/whl/torch_stable.html
monai
numpy
pandas
SimpleITK
pydicom
nibabel
torchio
git+https://github.com/JoHof/lungmask
tensorboard
setuptools
sklearn