torch==1.11.0+cu102
torchvision==0.12.0+cu102
# package location
--find-links https://download.pytorch.org/whl/torch_stable.html
monai==1.0.1
numpy==1.23.4
pandas==1.5.1
SimpleITK==2.2.0
pydicom==2.3.0
nibabel==4.0.2
torchio==0.18.85
git+https://github.com/JoHof/lungmask
tensorboard==2.11.0
setuptools==65.5.0
scikit-learn==1.1.3